# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
venv/
ENV/
*.egg-info/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc

# SQLite DBs
app/app.db
app/*.db

# Logs
*.log

# Node (if any)
node_modules/
